
{% extends 'thrift/reportsbase.html' %}

{% block content %}

     <div style = "font-size:0.9em">welcome to ThriftPlus
     <hr>
     These are the major steps you should follow, if you want to use this app effectively <hr>

    <div>1. The <a href="/thrift/thrift/reports/sales/merchant/">sales </a>menu enables you view the performances of every member of staff in each category. You can view sales reports for <a href="/thrift/thrift/reports/sales/merchant/">merchants</a> (cash collected), <a href="/thrift/thrift/reports/sales/cashier/">cashiers</a>(Remittances) and <a href="/thrift/thrift/reports/sales/admn/">admins</a>(Approvals)</div>

    <hr>
    <div>2. The <a href="#">Profit and loss</a> reports gives you instant report on the financial position of your busines<d/iv>
      <hr>
<!--     <div>3. And finally use the <a href="/thrift/thrift/payrequest/">PAYMENT REQUESTS</a> ,menu to keep record of all cash transaction with customers</div> -->
    <hr>

    <hr>
</div>






<script type="text/javascript" language="javascript">
window.history.pushState(null, "", window.location.href);
window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
};

</script>
{% endblock %}
