

{% extends 'thrift/reportsbase.html' %}
{% block content %}

{% load humanize %}
<div style="text-align:center">Sales Report</div>
   <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td >
            <a href="/thrift/thrift/reports/sales/merchant/" style="color:red">Merchant</a>
        </td>
       <td   >
        <a href="/thrift/thrift/reports/sales/cashier/" style="color:red">Cashier</a></td>
    <td style="background:blue;font-size:0.9em">
        <a href="/thrift/thrift/reports/sales/admn/" style="color:white">Admin</a></td>
    </tr>
</table>

<table style="font-size:0.9em;margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

<tr>
<td >{{ form.ID.label_tag}}:</td><td> {{ form.ID }}</td>
</tr>
<tr>
  <td >{{ form.name.label_tag}}:</td><td> {{ form.name }}</td>
</tr>

<tr>
  <td >{{ form.date.label_tag}}:</td><td> {{ form.date }}</td>
</tr>

  <tr>
    <td >{{ form.rtype.label_tag}}:</td><td> {{ form.rtype }}</td>
  </tr>
</table>

</table>
     <table width="100%" class="table  table-bordered" id="dataTables-example">
        <tr>
            <td >
                <div class="boxadmin"></div>
            </td>
        </tr>
</table>

    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            var pickerOpts = {
                // appendText: "yy/mm/dd",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"dd/mm/yy"
            };
            $("#id_date").datepicker(pickerOpts);
            autofilladmin();
        });
    </script>

    
   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_ID").change(function () {
                getadminname();
            });
            $("#id_rtype").change(function () {
                getadminreport();
            });
        });
    </script>


    <script type="text/javascript" language="javascript">
        function autofilladmin(){
            var state = "{{user}}" ; // i need session to determine my class
            // alert(state);
            var url = "/thrift/thrift/reports/getadminid/";
            var i = 0;
            var data='userid='+state;
            $("#id_ID").val('');   
            $("#id_ID").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_ID").append(options);
                        getadminname();

                    }
                })
            }
        }

    </script>
 
    <script type="text/javascript" language="javascript">
        function getadminname(){
            var state = $("#id_ID").val();
            // alert(state);
            var url = "/thrift/thrift/reports/getadminname/";
            var i = 0;
            var data='userid='+state;
            $("#id_name").val('');
            $("#id_name").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_name").append(options);
                        getadminreport();
                    }
                })
            }
        }

    </script>

    <script type="text/javascript" language="javascript">
        function getadminreport(){
            var state = $("#id_ID").val() + ':'+ $("#id_name").val()+':'+ $("#id_date").val() +':'+ $("#id_rtype").val();
            // alert(state)
            var url = "/thrift/thrift/reports/getadminreport/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".boxadmin").show();
                    $(".boxadmin").html(html);

                }
            });
            return false;
        }
    </script>

{% endblock %}

