{% extends 'thrift/creditofficerbase.html' %}
{% block content %}


<div style="text-align:center">Thrift Menu</div>
   <table style="margin-top:0%;margin-bottom:5%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td  >
            <a href="/thrift/thrift/addthrift/" style="color:red">Add</a>
        </td>
        
        <td >
            <a href="/thrift/thrift/viewthrift/" style="color:red">View</a>
        </td>
       <td  ><a href="/thrift/thrift/changethrift/" style="color:red">Change</a></td>
        <td>
            <a href="/thrift/thrift/rolloverthrift/" style="color:red;font-size:0.9em">Rollover</a>
        </td>
        <td style="background:blue;font-size:0.9em">
            <a href="/thrift/thrift/thriftreport/" style="color:white">Report</a>
        </td>
    </tr>
</table>
     
   <table style="margin-top:0%;margin-bottom:0%"width="100%" class="table  table-bordered table-hover" id="dataTables-example">
     <thead >
      <div> Thrift Report for {{month}}</div>
        <tr style="text-align:center;font-weight:bold">
           <td >S/N</td>
           <td >Wallet</td>
           <td > Thrift</td>
        </tr>
    </thead> 

                            
    {% for student in thriftrec %}
        <tr style="font-weight:bod;text-align:center">
          <td >{{ forloop.counter }}.</td>
          <td >{{ student.wallet }}</td>
          <td > <span style="text-decoration: line-through">N</span>{{ student.thrift }}.</td>
        </tr>
    {% endfor %}
</table>

<table style="margin-top:0.5%;margin-bottom:0.6%;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

<tr >
<td>
  <a href="/thrift/thrift/payrequest/">Payment</a>
  
  </td>
<td>
  <a href="/thrift/thrift/history/">Balances</a>
  
  </td>
<td>
  <a href="/thrift/thrift/home/" >Read guide</a>
  
  </td>
</tr>
</table>



    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>



{% endblock %}



