
{% extends 'thrift/creditofficerbase.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to Merchant's FieldApp<hr>
     These are the major steps you should follow, if you want to use this app effectively as a Merchant<hr>

    <div>1. Create wallet for each new customer, using the <a href="/thrift/thrift/createwallet/">Create thrif wallet</a>  menu, and fill out the form</div>

    <hr>
    <div>2. Proceed to <a href="/thrift/thrift/addthrift/">Thrifts Set Up</a> to assign thrift value to the wallets you created <d/iv>
    	<hr>
    <div>3. Furthermore use the payments   link to keep record of all <a href="/thrift/thrift/payrequest/">deposits </a> and <a href="/thrift/thrift/cashout/">withdrawals </a></div>
    <hr>
<div>4. Anytime you can check a customer's <a href="/thrift/thrift/history/">account balance</a></div>
    <hr>
<div>5. The links under VAS helps you activate <a href="#">E-mail</a> , <a href="#">SMS</a> , <a href="#">Notification</a> and <a href="#">UI/UX</a> for customes who need them </div>
    <hr>
</div>
{% endblock %}