<!-- <script type="text/javascript" src='/static/mato/JS/jquery-1.5.js'></script> -->

{% extends 'customer/walletbase.html' %}
{% block content %}



<div style="text-align:center">Wallets Menu </div>

   <table style="margin-top:0%;margin-bottom:01% ;font-size:0.9em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr >
        <td >
          <a href="/customer/customers/createwallet/" style="color:red">Create Wallet</a>
        </td>

        <td  style="background:blue">
          <a href="/customer/customers/editwallet/" style="color:white">Edit Wallet</a>
        </td>

        <td>

          <a href="/customer/customers/viewwallet/" style="color:red">View Wallet</a>
        </td>
          <td><a href="/customer/customers/customer_list/" style="color:red">Wallet list</a></td>
    </tr>
</table>





<table width="100%" class="table  table-bordered table-hover" id="dataTables-example">

{{customer.Address}}

<form action="/customer/customers/editwallet/wallet/" method="POST" enctype="multipart/form-data" >

<section class="content">
      <div class="container-fluid">
            
            <!-- general form elements -->
            <div class="card card-primary">

                <div class="card-body">
                  <div class="form-group">
                    <label for="surname">Surame</label>
                    <input type="text" autofocus name="surname" class="form-control" id="surname" value = {{customer.surname}} >
                  </div>

                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" class="form-control" id="firstname"value = {{customer.firstname}} >
                  </div>

                  <div class="form-group">
                    <label for="othername">Other Name</label>
                    <input type="text" name="othername" class="form-control" id="othername" value = {{customer.othername}} >
                  </div>


                  <div class="form-group">
                    <label for="othername">Phone</label>
                    <input type="tel" name="phone" class="form-control" id="phone" value = {{customer.phone}} required readonly >
                  </div>

                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" class="form-control" value = {{customer.Address}} >
                  </div>


                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email"value = {{customer.email}} >
                  </div>

                  <div class="form-group">
                    <label for="pix">Select Photo</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" name="photo" id="photo" class="custom-file-input" >
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
      </section>                 


  <table width="100%" class="table  table-bordered" id="dataTables-example">
      <td >
        <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Update Details">
      </td>
  </table>


  <input type="hidden" name="wallet" readonly value="{{ wallet}}" class ="loginTxtbox">
</form>
</table>

{% endblock %}



