


{% extends 'loans/loanadminbase.html' %}
{% block content %}


<div style="text-align:center;font-weight:bold">Create Group Form</div>
     <td  >
            Click <a href="/loans/loans/book_loan/individual/" style="font-size:0.9em">here</a>  to book Individual Loans 
        </td>
   <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">

        <td  >
            <a href="/loans/loans/book_loan/creategroup/" style="color:red">Create Group</a>
        </td>
        <td  >
            <a href="/loans/loans/book_loan/membership/" style="color:red">Membership</a>
        </td>
       <td  style="background:blue;font-size:0.9em">
        <a href="/loans/loans/book_loan/bookloan/" style="color:white">Book Loan</a>
    </td>
    </tr>
</table>


<table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table table-bordered" id="dataTables-example">
<div> Loan booked successfully for  {{customer.surname}}  {{customer.firstname}}   {{customer.othername}} </div>



</table>


{% endblock %}



