
        
<table style="margin-top:-2%;margin-bottom:01%;font-size:0.9em" width="100%" class="table table-bordered" id="dataTables-example">

                <tr >
                    <td colspan='4' style="background-color: #ccccc0;color:#000000;text-align:center;" >Loan Parameters</td>
                </tr>

           <tr>
               <td>Loan Package</td>
                    <td> NOT DEFINED   </td>
               <tr>
                <td>Rate</td>
                    <td>{{ data.rate }} %</td>
                 </tr> 
<tr>

                <td>Duration</td>
                    <td>
                      {{ data.from_week }} - {{ data.to_week }}  weeks
    
                </td>
           </tr> 
 
        </table>


<tr>

<div style ='color:red'> Select appropriate loan package </div> 
            </tr>

