<html>
<head>

</head>
<body>       
	







{% extends 'partner/basepartner.html' %}
{% block content %}


<div style="text-align:center">Back Office Registration</div>
   <table style="margin-top:0%;margin-bottom:01%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td  ><a href="/partner/partner/business/reg/" style="color:red">Business </a></td>
        <td><a href="/partner/partner/business/branch/" style="color:red;font-size:0.9em">Address</a></td>
        <td ><a href="/partner/partner/business/ceo/" style="color:red">Owner</a></td>
      <td style="background:blue;font-size:0.9em"><a href="/partner/partner/business/app/" style="color:white;font-size:0.9em">Services</a></td>
    </tr>
</table>

  {% for k in list %}
            <div style="text-align:center">
              <div style="font-weight:bold;font-size:1.2em">{{k.name}} </div>
              <div>Office:  {{k.address}}</div>
            </div>
   
 

<form action= "/partner/partner/business/app/update/" method="POST">

  <table style="margin-top:0%;margin-bottom:04%;font-size:1em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">
  
  <tr style="font-weight:bold">
    <td >S/N</td>
    <td >App</td>
    <td >Description</td>
    <td>Status</td>
  </tr>

 <tr>
  <td >1.</td>
    <td> Thrift I A:</td>

    <td>Daily Contributions </td>
         <td>          
                <input type="checkbox" id='to' name="dc" {{k.dc}} data-bootstrap-switch data-off-color="danger" data-on-color="success">
                           
          </td>
</tr>

  <tr>
    <td>2.</td>
    <td> Thrift I B:</td>

    <td>Investment Banking </td>

      <td>           
          <input type="checkbox" id="CO" name="gs" {{k.gs}} data-bootstrap-switch data-off-color="danger" data-on-color="success">
        </td>
</tr>


  <tr>
    <td >3.</td>
    <td> Loan I B:</td>

    <td>General loan Mgt App (For Thrift IB)</td>
         <td> 
              
                <input type="checkbox" name="glm" {{k.glm}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                           
          </td>
</tr>

  <tr>
    <td >4.</td>
    <td> Thrifts III A:</td>
       <td>Cooperatives </td>
       
       <td> 
              <input type="checkbox" name="mcc" {{k.mcc}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                       
        </td>
</tr>


  <tr>
    <td >5.</td>
    <td> Thrifts III B:</td>

    <td>Corporate C</td>
         <td> 
              
                <input type="checkbox" id ='bo' name="mcp" {{k.mcp}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                           
          </td>
</tr>

  <tr>
    <td >6.</td>
    <td> Loan III B:</td>

    <td>Loan for Thrift III B App</td>
         <td> 
              
                <input type="checkbox" id ='bo' name="lcp" {{k.lcp}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                           
          </td>
</tr>

    <input type="hidden" name="branch" readonly="readonly" value="{{ k.id }}">

<tr>
    <table style="margin-top:0%;margin-bottom:04%" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
      <td ><input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Update"></td>
      
    </table>
   </tr>
   </table>
 </form>
{% endfor %}

</body>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  });

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false;

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector("#template");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/target-url", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  });

  myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
  });

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
  });

  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
    // And disable the start button
    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
  });

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0";
  });

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
  };
  document.querySelector("#actions .cancel").onclick = function() {
    myDropzone.removeAllFiles(true);
  };
  // DropzoneJS Demo Code End
</script>
</html>

{% endblock %}
