


{% extends 'partner/basepartner.html' %}
{% block content %}


<table style="margin-top:0%;margin-bottom:01%" width="100%" class="table  table-bordered" id="dataTables-example">

</table>

<div style="text-align:center">Back Office Registration</div>
   <table style="margin-top:0%;margin-bottom:01%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td  ><a href="/partner/partner/business/reg/" style="color:red">Business </a></td>
        <td><a href="/partner/partner/business/branch/" style="color:red;font-size:0.9em">Address</a></td>
        <td style="background:blue;font-size:0.9em"><a href="/partner/partner/business/ceo/" style="color:white;font-size:0.9em">Owner</a></td>
         <td><a href="/partner/partner/business/app/" style="color:red;font-size:0.9em">Product</a></td>
    </tr>
</table>



<tr>
  <form action="/partner/partner/business/ceodetails/" method="POST"  enctype="multipart/form-data" >
 
    <section class="content">
      <div class="container-fluid">          
          <div class="card card-primary">
              <div class="card-body">
                <table style="margin-top:0%;margin-bottom:04%" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
           {% for k in comp %}
            <div style="text-align:center">
              <div style="font-weight:bold;font-size:2em">{{k.name}} </div>
              <div>Head Office:  {{k.address}}</div>
            </div>
             
           </table>
    <input type="hidden" name="company" id="amount"  readonly="readonly" value="{{ k.id }}" class ="loginTxtbox">
    {% endfor %}
<div style="text-align:center"> Fill out the form below</div>


                  <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" autofocus name="surname" class="form-control" id="surname" placeholder="Surname" required>
                  </div>

                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Firstname" required>
                  </div>

                  <div class="form-group">
                    <label for="othername">Other Name</label>
                    <input type="text" name="othername" class="form-control" id="othername" placeholder="Other name" >
                  </div>

                <div class="form-group">
                  <label>Phone:</label>
                  <div class="input-group">

                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>

                    <input type="tel" 
                    class="form-control" 
                    name="phone" 
                    required 

                    data-inputmask='"mask": "0999 9999 999"' data-mask>
                  </div>
                </div>

                <div class="form-group">
                  <label>Address:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-home"></i></span>
                    </div>
                 <input type="text" name="address" class="form-control" id="address" placeholder="Address" required>
                  </div>
                </div>


                <div class="form-group">
                  <label>Email:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>

                   <input type="email" name="email" required class="form-control" placeholder="Email">
                  </div>
                </div>

                  <div class="form-group">
                    <label for="customFile">Select Photo:</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>

                </div>
              </div>
            </div>
                <!-- /.card-body -->
           <div class="card-footer">
            <td >
              <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Save">
            </td>
          </div>
      </section>
    
  </form>
</tr>




<script type="text/javascript" language="javascript">
// window.history.pushState(null, "", window.location.href);
// window.onpopstate = function () {
//     window.history.pushState(null, "", window.location.href);
// };

</script>


{% endblock %}