
{% extends 'partner/basepartner.html' %}

{% block content %}
    <div style = "font-size:0.9em">Dear ThriftPlus Partner,
     <hr>

     <div>Pls note, if you need to retrieve quick details about a particular business you registered, the search bar is there to help</div>
     <hr>
     These are the general roles you can play as a partner, with this module.<hr>

    <div>1. The "Businesses" Menu provides you with the tools you need to <a href="/partner/partner/business/reg/">Register </a> a businesss and effectively <a href="">Manage </a> all others</div>
    <hr>
    <div>2. Use the <a href="/partner/partner/business/app/">Services </a> menu to activate/deactivat services<d/iv>
    	<hr>
    <div>3. With the <a href="/partner/partner/business/subscription/">Subscription </a> menu, you can manage back office acceses<d/iv>
        <hr>
    <div>4. Occasionally, customers may request some value added services, the<a href="">VAS</a> menu gives you the tool to use to accomplish this</div>
    <hr>

</div>
{% endblock %}