


{% extends 'Ib/adminbase.html' %}

{% block content %}





     These are the major steps you should follow, if you want to use this app effectively <hr>

    <div>1. Foremost, use the payments   link to keep record of all <a href="/vts/thrift/payrequest/">deposits </a> and <a href="/vts/thrift/cashout/">withdrawals </a></div>
    <hr>
<div>2. you can also check a customer's <a href="/vts/thrift/history/">account balance</a> at any time, as well as their <a href="/vts/thrift/statement/">Statement of account</a> </div>
    <hr>
<div>3. The links under VAS helps you activate <a href="#">E-mail</a> , <a href="#">SMS</a> , <a href="#">Notification</a> and <a href="#">UI/UX</a> for customes who need them </div>
    <hr>
    <div style = "font-size:0.9em"></div>
        <hr>  These Procedures might be of help as an admin  <hr>
   
   
    <div>1.  The <a href="/vts/thrift/approvalsmenu/">approval menu</a> helps you keep finacial records of your dealings with office and field staff
        </div>
<hr>
<!--       <div>2. Use the <a href="/vts/thrift/remittals/">remittals menu</a>  to keep records of cash recieved from Credit Officers</div>

    <hr> -->
    <div>2. Use the 
        <!-- <a href="/vts/thrift/sales/admin/daily/"> -->
        <a href="/vts/thrift/reports/sales/merchant/">
            reports</a> Link  to overview details of all transactions
        </div>
    	<hr>


{% endblock %}


