
{% load humanize %}

     
<form action="/vts/thrift/approvalsmenu/approveCo/" method="POST">

<table style="margin-top:0%;margin-bottom:0%;font-size:0.5em"  width="100%" class="table  table-bordered table-hover" id="dataTables-example">

    <tr>
    <td> Merchant Code</td>
    <td>{{merchant.id}}</td>
  </tr>
    <tr>
    <td> Name:</td>
    <td>{{merchant.staff.surname}},  {{merchant.staff.firstname}}  {{merchant.staff.othername}}</td>
  </tr>
    <tr>
      <td>Transaction Date: </td>
     <td>{{date}}   </td>
  </tr>
  </table>

<table style="margin-top:01%;margin-bottom:0%;font-size:0.6em"  width="100%" class="table  table-bordered" id="dataTables-example">
        <thead >

    <tr style="text-align:center;font-weight:bold">
           <td >Expected</td> 
           <td >Cash Depost</td>
        </tr>
    </thead>                          
                            
   
        <tr style="font-weight:bod;text-align:center">
          <td >{{ thriftrec|intcomma }}</td>
          <td>  <div class="form-group">
                     <input type="number" required autofocus name="cash" class="form-control" id="cash" placeholder="Enter amount here">
                </div>
          </td>
        </tr>       
      
    </table>
 
           <input type="hidden" name="amount" id="amount"  readonly="readonly" value="{{ thriftrec }}" class ="loginTxtbox">

           <input type="hidden" name="merchant" id="merchant"  readonly="readonly" value="{{ merchant.id }}" class ="loginTxtbox">

           <input type="hidden" name="date" id="date" readonly="readonly" value="{{ date}}" class ="loginTxtbox">
           
 <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
  <td >
    <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit"value="Approve">

  </td>    
</table>
 </form>

   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_amount").focus();
        });
    </script>
