

{% extends 'Ib/adminbase.html' %}
{% block content %}


{% load humanize %}
<div style="text-align:center">Approvals Menu</div>
   <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td  style="background:blue;font-size:0.9em">
            <a href="/vts/thrift/approvalsmenu/" style="color:white">Approval</a>
        </td>
        
       <td  >
        <a href="/vts/thrift/approvals/approvereport/" style="color:red">Report</a></td>
    </tr>
</table>

<!-- <form action="/vts/thrift/approvalsmenu/approvefund/" method="POST"> -->

    <table style="margin-top:0.5%;margin-bottom:0%;font-size:0.9em"  width="100%" class="table  table-bordered" id="dataTables-example">

      <tr>
        <td style="font-weight:bold"> Merchant Code:</td>
        <td>{{merchant.id}}</td>
    </tr>

        <tr>
          <td style="font-weight:bold">Merchant Name: </td>
          <td>{{merchant.staff.surname}}  {{merchant.staff.firstname}}  {{merchant.staff.othername}}</td>
        </tr>

      <tr>
        <td style="font-weight:bold">Transaction Date: </td>
        <td>{{date}}</td>
      </tr>
    </table>





{% if sales %} 
 <table style="margin-top:1%;margin-bottom:0%;font-size:0.9em"width="100%" class="table  table-bordered" id="dataTables-example">

<tr>
  <td>
      <div style='text-align:center'>SALES REPORT [ Cashier]</div>
    </td>
</tr>


   <table style="margin-top:0.2%;margin-bottom:0%;font-size:0.9em"width="100%" class="table  table-bordered" id="dataTables-example">

       <thead >
          <tr style="text-align:center;font-weight:bold">
                 <td >S/N</td>
                 <td >Customer</td>
                 <td >Amount (N)</td>
                 <!-- <td >Action</td> -->
            </tr>
      </thead> 




    {% for student in sales %}
        <tr style="font-weight:bod;text-align:center">
          <td >{{ forloop.counter }}.</td>
          <td >{{ student.name }}</td>
          <td >{{ student.amount|intcomma }}</td>


          <!-- <td style="font-size:1em" class="btn btn-lg btn-success btn-block"><a href="#" style="color:white;font-size:0.9em" onClick= "apprvind({{ student.id  }})" title="Approve {{ student.amount|intcomma}} ">Approve  N{{ student.amount|intcomma}}</a> -->
          </td>
        </tr>

    {% endfor %}


    <tr style = 'color:green;font-weight:bold;text-align:center'>
      <td></td>
      <td>Total Sales</td>      

      <td>{{ totsalr|intcomma}}</td>
      <!-- <td></td>    -->

    </tr>


<tr>    
   <table  style="margin-top:01%;margin-bottom:02%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

      <td style="font-size:1em" class="btn btn-lg btn-success btn-block">
          <a href="#" style="color:white" onClick= "apprvall({{ merchant.id }})" title="Approve all sales">Approve All Sales</a>

      </td>
  </table>
        <input type="hidden" name="amount" id="amount"  readonly="readonly" value="{{ totsalr }}" >
</tr>


       <input type="hidden" name="merchant" id="merchant"  readonly="readonly" value="{{ merchant.id }}" class ="loginTxtbox">

    
     <input type="hidden" name="dates" id="dates" readonly="readonly" value="{{ date}}" class ="loginTxtbox">


  

    {% else %}
<tr>
    <div style='text-align:cnter'>No Sales record found on your account for  {{date}}</div>
</tr>
    {% endif %}
</table>


</table>







{% if remit %} 


 <table style="margin-top:0.5%;margin-bottom:0%;font-size:0.9em"width="100%" class="table  table-bordered" id="dataTables-example">

<tr>
  <td>
      <div style='text-align:center'>REMITTALS REPORT [ Cashier]</div>
    </td>
</tr>



       <table style="margin-top:0.5%;margin-bottom:0%;font-size:0.9em"width="100%" class="table  table-bordered" id="dataTables-example">
        <thead>

            <tr style="text-align:center;font-weight:bold">
               <td >S/N</td>
               <td >Merchant</td>
               <td >Remitted</td>
            </tr>
        </thead>
        {% for k in remit %}                      
        <tr style="font-weight:bod;text-align:center">
              <td >{{ forloop.counter }}.</td>
              <td >{{ k.name }} {{ k.customer.firstname }}</td>
              <td >{{ k.amount|intcomma}}</td>
        </tr>
        {% endfor %}


        <tr style = 'color:green;font-weight:bold;text-align:center'>
          <td></td>
          <td>Total Remittals</td>

          <td>{{ rem|intcomma}}</td>
          

        </tr>


   <table  style="margin-top:01%;margin-bottom:02%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

      <td style="font-size:1em" class="btn btn-lg btn-success btn-block">
          <a href="#" style="color:white" onClick= "remmall({{ merchant.id }})" title="Approve all sales">Approve All Remittals</a>

      </td>
  </table>

    
    {% else %}

    <div style='text-align:cnter'>No remittals found on your account for  {{date}}</div>

    

    {% endif %}


 </table>


    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>







<div id="sale"></div>
<div id="rem"></div>
 
<script type="text/javascript" language="javascript">
    function apprvind(vid){
        
        var state = vid + ":" + $("#dates").val()+ ":" + "{{user}}";
        alert(state)
        var url = "/vts/thrift/apprvind/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                $("#rem").html(html);
                getdind();
            }
        });
        return false;
    }

</script>

<script type="text/javascript" language="javascript">
    function getdind(){
        var diaOpts = {
            autoOpen:true,
            // appendTo:"body1",
            // modal:true,
            // position: ["center", "middle"],
            height:'auto',
            width:'auto',
            title:'To close, touch here -->' ,
            closeOnEscape:true,
            show: true,
            hide: true,
            bgiframe: true
        };
        $("#rem").dialog(diaOpts);
    }

</script>

<script type="text/javascript" language="javascript">
    function apprvall(vid){
        var state = $("#merchant").val() + ":" + $("#dates").val();
        // alert(state);
        var url = "/vts/thrift/approvall/Cashier/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                $("#sale").html(html);
                getdial();
            }
        });
        return false;
    }
</script>
<script type="text/javascript" language="javascript">
    function getdial(){
        var diaOpts = {
            autoOpen:true,
            // appendTo:"body1",
            // modal:true,
            // position: ["center", "middle"],
            height:'auto',
            width:'auto',
            title:'Touch the box to close' ,
            closeOnEscape:true,
            show: true,
            hide: true,
            bgiframe: true
        };
        $("#sale").dialog(diaOpts);
    }

</script>

</body>


{% endblock %}



