


{% extends 'Ib/cashierbase.html' %}

{% block content %}





     These are the major steps you should follow, if you want to use this app effectively <hr>

    <div>1. Foremost, use the payments   link to keep record of all <a href="/vts/thrift/payrequest/">deposit requests</a> and 
        <a href="#">
            <!-- <a href="/vts/thrift/cashout/"> -->
            withdrawal Requests </a></div>
    <hr>
<div>2. you can also check a customer's <a href="/vts/thrift/history/">account balance</a> at any time</div>
    <hr>
<div>3. The links under VAS helps you activate <a href="#">E-mail</a> , <a href="#">SMS</a> , <a href="#">Notification</a> and <a href="#">UI/UX</a> for customes who need them </div>
    <hr>
    <div style = "font-size:0.9em"></div>
        <hr>  These Procedures might be of help as an admin  <hr>
   
   
    <div>1. Use the <a href="#">Sales</a> Link  to check details of daily sales</div>
<hr>
      <div>2. Use the 
        <a href="#">
            <!-- <a href="/vts/thrift/remittals/"> -->
                remittals menu</a>  to keep records of cash recieved from Credit Officers</div>

    <hr>
<!--     <div>2. The <a href="/vts/thrift/approvalsmenu/">approval menu</a> helps you keep records of your dealings with the cashiers </div>
    	<hr> -->
<!--     <div>2. The <a href="/vts/thrift/payouts/">Payments</a> link helps you keep records of all monies paid to walk-in customers or those requested through their merchants</div>
    <hr> -->

{% endblock %}