

{% extends 'Ib/cashierbase.html' %}
{% block content %}


<div style="text-align:center">Thrift Menu</div>
   <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
<div>{{msg}}</div>
    <tr style="text-align:center;">
        <td  >
            <a href="/vts/thrift/addthrift/" style="color:red">Add</a>
        </td>
        
        <td>
            <a href="/vts/thrift/viewthrift/" style="color:red;font-size:0.9em">View</a>
        </td>
       <td style="background:blue;font-size:0.9em" >
        <a href="/vts/thrift/changethrift/" style="color:white">Change</a></td>
        <td>
            <a href="/vts/thrift/rolloverthrift/" style="color:red;font-size:0.9em">Rollover</a>
        </td>
        <td >
            <a href="/vts/thrift/thriftreport/" style="color:red">Report</a>
        </td>
    </tr>
</table>

<tr >
       <form action="" method="POST">
          <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
           <tr >
               <td >{{ form.wallet.label_tag}}:</td><td> {{ form.wallet }}</td>
             </tr>   
       </table>
       <td ><input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="View Thrift"></td>
       </form>

</tr>



   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_wallet").focus();

            $("#id_klass").change(function () {
                 getsubject();
            });

        });
    </script>


{% endblock %}



