

<table style="margin-top:0%;margin-bottom:0.2%" width="100%" class="table  table-bordered" id="dataTables-example">
    
            <tr>
               <td style="font-weight:bold">Month:</td>
               <td style='color:grey;'>{{ month }},   {{year}}</td>
                <td style="font-weight:bold">Total Contribution:</td>
               <td style='color:grey;'>{{ add}}</td>
            </tr> 
</table>

<table style="margin-top:0%;margin-bottom:02%" width="100%" class="table  table-bordered" id="dataTables-example">
            <tr>
               <td style="font-weight:bold">Thrift:</td>
               <td style='color:grey;'><del style='text-decoration-style:double'>N</del>  {{ thrift }} </td>               
            </tr> 
  <tr>
    <td style='font-weight:bold'>Funding:</td>
    <td>
       <select name="funding" id="id_funding">
       <option value="-----">-----</option>
        <option value="Cash">Cash</option>
        <option value="Transfer">Transfer</option>
      </select>
    </td>
  </tr>
        </table>



 


    <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
                //showButtonPanel: true
                // showOn: "button"
            };
            // $( "#id_funding" ).focus();
             autopostfund();

        });
    </script>

   <script type="text/javascript" >
        $(document).ready(function() {            
            $("#id_funding").change(function () {
                autopostfund();
            });
            
            $("#id_amount").keypressee(function() {
                $("#id_amount").val("");
            });
           
        });
    </script>

    <script type="text/javascript" language="javascript">
        function autopostfund(){
            var state = $("#id_funding").val() +":" + {{ wallet }}+ ":"+{{ thrift }} + ":" + "{{ month }}"+ ":" + $("#id_account_type").val();
            // alert(state)
            var url = "/vts/thrift/funding/getsource/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".boxfund").show();
                    $(".boxfund").html(html);

                }
            });
            return false;
        }
    </script> 
