

{% extends 'Ib/adminbase.html' %}
{% block content %}

{% load humanize %}

<div style="text-align:center">Payments Menu</div>
   <table style="margin-top:0%;margin-bottom:02%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td>
            <a href="/vts/thrift/payrequest/" style="color:red">Deposit Requests</a>
        </td>

  <td  >
    <a href="/vts/thrift/cashout/" style="color:red">Withdrawal Requests</a>
  </td>
        <td   style="background:blue;font-size:0.9em">
            <a href="/vts/thrift/user/report/" style="color:white;font-size:0.9em">Log</a>
        </td>
       
    </tr>
</table>



       <form action="" method="POST">
     <table style="margin-top:0%;margin-bottom:02%" width="100%" class="table  table-bordered" id="dataTables-example">
           <tr >
               <td >{{ form.status.label_tag}}:</td><td> {{ form.status }}</td>
            </tr> 

           <tr >
               <td >{{ form.date.label_tag}}:</td><td> {{ form.date }}</td>
            </tr>   
       </table>
       <td ><input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="View Report"></td>
       </form>





  <table style="margin-top:02%;margin-bottom:0%"  width="100%" class="table  table-bordered" id="dataTables-example">

{% if list %}
             
   <table style="margin-top:0%;margin-bottom:0%"  width="100%" class="table  table-bordered" id="dataTables-example">
     <thead >

      <div style="text-align:center"> Transaction Summary for <span style='color:blue'>{{status}}</span>  cash [ {{ date }} ]</div>
        <tr style="text-align:center;font-weight:bold">
           <td >S/N</td>
           <td > Customer</td>
             <td >Amount</td>
             <td >Status</td>
        </tr>
    </thead>                          
                            
    {% for student in list %}
        <tr style="font-weight:bod;text-align:center">
          <td >{{ forloop.counter }}.</td>
          <td >{{ student.customer.customer.surname }}  {{ student.customer.customer.firstname }}  {{ student.customer.customer.othername }}</td>
          <td >{{ student.amount|intcomma }}</td>
          {% if student.status = 'Received' %}
          <td >Not Yet Approved </td>
          {% else %}
            <td >{{student.status}} </td>
          {% endif %}
        </tr>
    {% endfor %}


      <tr style="font-weight:bold;text-align:center">
        <td></td>
        <td>Total {{ status }} Cash</td>
        <td>{{total|intcomma}}</td>
      </tr>
</table>

{% else %}
 <div style='color:pink;font-weight:bold;text-align:center'>No records found </div>

{% endif %}
</table>




<table style="margin-top:0.5%;margin-bottom:0.6%;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

<tr >
<td>
  <a href="/vts/thrift/user/report/">Continue</a>
  
  </td>
</tr>
</table>








   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_status").focus();
  
        });
    </script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            var pickerOpts = {
                // appendText: "yy/mm/dd",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"dd/mm/yy"
            };
            $("#id_date").datepicker(pickerOpts);
            //alert("welcome");
            // $("#id_merchant").focus();
            autocomplete();
        });
    </script>


    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>



{% endblock %}



