


{% extends 'Ib/interestratebase.html' %}
{% block content %}


<div style="text-align:center">Interest Rates</div>
  
   <table style="margin-top:0%;margin-bottom:02%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">

        <td  >
            <a href="/vts/thrift/setup/interest/" style="color:red">New</a>
        </td>
        
        <td style="background:blue">
            <a href="/vts/thrift/interest/edit/" style="color:white">Edit</a>
        </td>


    </tr>
</table>

 <div  style="color:gray;font-size:0.8em;text-align:center" >{{msg}}</div>
 <table style="margin-top:0%;margin-bottom:02%;font-size:0.8em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

      <thead>

          <tr style="font-weight:bold">
             <td >S/N</td>
              <td >Interest Rate</td>
             <td >Duration</td>
             <td >Code</td>
             <td >Status</td>

          </tr>
      </thead>
      <tr>
                     <td >1.</td>
              <td >{{interest.interest}}%</td>
             <td >{{interest.duration}}</td>
             <td >{{interest.code}}</td>
             {% if interest.status = True%}
                       <td style="font-size:1em"><a href="#"  onClick= "editint()">Active</a>
          </td>
             <!-- <td >Active</td> -->
             {% else %}
                       <td style="font-size:1em" ><a href="#" onClick= "editint()" >Inactive</a>
          </td>
             <!-- <td >Inactive</td> -->
             {% endif %}
      </tr>

</table>



<div id="ind"></div>
 
<script type="text/javascript" language="javascript">
    function editint(vid){
        
        var state = "{{user}}";
        // alert(state)
        var url = "/vts/thrift/interest/edit/pop/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                $("#ind").html(html);
                getdind();
            }
        });
        return false;
    }

</script>

<script type="text/javascript" language="javascript">
    function getdind(){
        var diaOpts = {
            autoOpen:true,
            // appendTo:"body1",
            // modal:true,
            // position: ["center", "middle"],
            height:'auto',
            width:'auto',
            title:'Touch the box to close' ,
            closeOnEscape:true,
            show: true,
            hide: true,
            bgiframe: true
        };
        $("#ind").dialog(diaOpts);
    }

</script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            var pickerOpts = {
                // appendText: "yy/mm/dd",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"dd/mm/yy"
            };
            $("#id_interest").focus();
        });
    </script>
{% endblock %}



