



 <table style="margin-top:09%;margin-bottom:0%;font-size:1.28em" width="100%" class="table  table-bordered" id="dataTables-example">


<div class="card card-primary card-outline">

  <div class="card-header" style="text-align:center">
  	<div style ='color:gray'> {{msg}}.</div>
  	<div>Click <a href="/vts/threeb/loans/setgrace/">here</a> to set it up</div>
      <!-- <a href="/thrift/thrift/admin/home/" class="btn btn-primary" style="display:inline">Read Guide</a> -->
  </div>

</div>


</table>