

{% load humanize %}





{% if msg %}






<div style="text-align:center;font-weight:bold;margin-top:0%;margin-bottom:0%;">List of Loan Requests  for {{ month}}   </div>
   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">   	
          
           <tr style='text-align:center;font-weight:bold'>
               <td >S/N</td>               
               <td >Customer</td>
               <td>Loan</td>
               <td>Tenure</td>
               <td>Plan</td>
               <td>Approve</td>
               <td>Decline</td>
             </tr>
             {% for k in msg %}
          <tr style='text-align:center'>
            <td >{{forloop.counter}}</td>
            <td> {{k.customer.customer.surname}}   {{k.customer.customer.firstname}}   {{k.customer.customer.othername}}</td>
            <td >{{k.volume|intcomma}}</td>
            <td>{{k.package.duration}} weeks</td>
            <td>{{k.thrift|intcomma}}  {{k.repay}}</td>
            <td ><a href="#" style="color:blue" onClick= "approve({{ k.customer.id  }})" title="Approve  N{{ k.volume|intcomma}} loan request">Approve</a>
</td>
            <td ><a href="#" style="color:red" onClick= "decline({{ k.customer.id  }})" title="Decline  N{{ k.volume|intcomma}} loan request">Decline</a>
</td>

          </tr>
          {% endfor %}
       </table>
     


<!-- <input type='hidden' name="thrift" value ={{thrift}}>
<input type='hidden' name="amount"  value ={{amount}}>
<input type='hidden'  name="package" value ={{loan}}> -->


{% else %}

<div>no records found </div>





{% endif %}