




  <form action="/dsgsg/ghsdfg/tes/" method="POST">


<table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
   <tr> 
    <td>New Merchant :</td>
    <td>{{merchant.staff.surname}}  {{merchant.staff.firstname}}  {{merchant.staff.othername}}</td>
    </tr>
</table>


<table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
     <tr>
        <td >
        <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Switch ">  </td>
 </tr>
</table>

</form>
