

{% extends 'Ib/adminbase.html' %}
{% block content %}


{% load humanize %}
<!--  <table style="margin-top:0%;margin-bottom:05%" width="100%" class="table  table-bordered" id="dataTables-example"> -->
<div style="text-align:center">Approvals Menu</div>


 <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td  >
            <a href="/vts/thrift/approvalsmenu/" style="color:red">Approval</a>
        </td>
        
 <!--        <td >
            <a href="/vts/thrift/allapprovals/" style="color:red">All Merchants</a>
        </td> -->
       <td  style="background:blue;font-size:0.9em">
        <a href="/vts/thrift/approvals/approvereport/" style="color:white">Report</a></td>
    </tr>
</table>

{% if co %}
             
   <table style="margin-top:0%;margin-bottom:0%"  width="100%" class="table  table-bordered table-hover" id="dataTables-example">
     

    <div style="text-align:center"> Transaction Summary for {{status}}</div>

  </table>



        <div><span style="font-weight:bold">Trasanction Date:</span>   {{date}}</div>
          <table style="margin-top:01%;margin-bottom:0%"  width="100%" class="table  table-bordered" id="dataTables-example">
            <thead>
            <tr style="text-align:center;font-weight:bold">
                   <td >S/N</td>
                   <td >C / O </td>
                   <!-- <td>Acc/ No </td> -->
                   <td >Total</td>
                </tr>
            </thead>                          
                                    
            {% for student in co %}
                <tr style="font-weight:bod;text-align:center">
                  <td >{{ forloop.counter }}.</td>
                  <!-- <td >{{ student.customer.id}} </td> -->
                <td >{{ student.merchant.staff.surname}}  {{ student.merchant.staff.firstname}}  ({{ student.merchant.id}})</td>
                <!-- <td>{{ student.customer.customer.wallet}}</td> -->
                  <td >{{ student.amount|intcomma }}</td>
                </tr>
            {% endfor %}
        <tr style="text-align:center;font-weight:bold">
          <td></td><td>Total</td><td>N{{sum|intcomma}}</td>    </tr>


  {% else %}
 
          <div>no unapproved cash found for {{date}} </div>
 
  {% endif %}



<table style="margin-top:0.5%;margin-bottom:0.6%;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

        <tr >
        <td>
          <a href="/vts/thrift/payrequest/">Payments</a>          
          </td>
          <td >
            <a href="/vts/thrift/approvalsmenu/">Approvals</a>
          </td>
        <td>
          <a href="/vts/thrift/history/">Balances</a>
          
          </td>
        <td>
          <a href="/vts/thrift/admin/user/" >Read guide</a>
          
          </td>
        </tr>
</table>
 

</table>



    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
  



<script type="text/javascript" language="javascript">
window.history.pushState(null, "", window.location.href);
window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
};

</script>
{% endblock %}



