
{% extends 'savings/savingsbase.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to savings app home page
     <hr>
     These are the key features you will need to work with, if you want to use this app effectively<hr>

    <div>1. Click <a href="/savings/savings/openaccount/">here  to open account </a> for  a customer, who does not already have a thrift wallet </div>

    <hr>
    <div>2. Use this link to <a href="/savings/savings/deposits/">deposit cash </a> into a customer's account <d/iv>
    	<hr>
    <div>3. At anytime, you may wish to perform a <a href="/savings/savings/withdraw/">cash withdral</a> transaction on a customer's account.</div>
    <hr>
<div>4. You can <a href="/savings/savings/balances/">Check account balances</a> too</div>
<hr>
<!-- <div>5. The <a href="/thrift/thrift/cashout/">Defaults and penalties</a> engine becomes activated at the expiration of the standard time frame alorted to a loan package</div> -->
    <hr>
</div>
{% endblock %}