



<body1>

{% if data %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:center">
                           Search Result
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                  
          <table style="margin-top:0.7em;border:0em solid black," width="100%" class="table  table-bordered table" id="dataTables-example">
                                <thead>
                                    <tr style="text-align:center">
                                        <th>S/N</th>
                                        <th>Customer</th>
                                        <th>Acc /No </th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>

                  {% for student in data %}
                       <tr  style="text-align:center">
                           <td>{{ forloop.counter }}</td>
                           <td>{{ student.surname }}  {{ student.firstname }}  {{ student.othername }}</td>
                           <td>{{ student.wallet }}</td>
                           <td >
                            <!-- <a href="/dashboard/search/details/{{ student.wallet}}/{{student.id}}/" style="color:blue;font-weight:bold;font-size:0.8em;">View Details</a></td> -->

                           <a href="#" onClick= "getdetail({{ student.wallet}})">View Details</a>
<!--                             <a href="/student/search/{{ student.id }}/" style="color:blue;font-weight:bold;font-size:12px;"></a> -->
                        </td>
                          
                       </tr>
                   {% endfor %}
                                    
                 </tbody>
                </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->



  {% else %}

  <div>No records found</div>


{% endif %}




    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>




<div id="pay"></div>
 


<script type="text/javascript" language="javascript">
    function getdetail(vid){
        var state = vid;
        // alert(state);
        var url = "/dashboard/search/details/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                $("#pay").html(html);
                getdial();
            }
        });
        return false;
    }

</script>
<script type="text/javascript" language="javascript">
    function getdial(){
        var diaOpts = {
            // autoOpen:true,
            appendTo:"body1",
            // modal:true,
            position: ["center", "middle"],
            height:'auto',
            width:'auto',
            // title:' Touch this box to close' ,
            closeOnEscape:true,
            show: true,
            // hide: true,
            // bgiframe: true
        };
        $("#pay").dialog(diaOpts);
    }

</script>


</body1>


</html>