
{% extends 'staff/staffbase3b.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to ThriftPlus
     <hr>
     
     These are the major steps you should follow, if you want to make the most of this app<hr>

    <div>1. Click  <a href="/staff/staff/staffdet/">here</a>  to register members of staff. This is the only way they can access the plateform </div>
    <hr>

     <div>2. If you want to elevate the role of a member of staff, click <a href="/staff/staff/roleplay/">roles</a> to enable you specify such responsiilities</div>
    <hr>

    <div>3. On Thriftplus, there are several ways to manage members of staff. you can; </div>
    <hr>
    <div>
    A. <a href="/staff/staff/deactivate/">deactivate</a> their login parameters,
   </div>
    <hr> 
    B. <a href="/staff/staff/delete/">delete </a>their details completely or
    <hr>
    C. <a href="/staff/staff/activate/">  Reactivate </a>	suspended members.</div>
    <hr>
    <div>4. You can also <a href="/staff/staff/reset/">reset </a> users' password here</div>
    <hr>
</div>
{% endblock %}