


{% extends 'staff/staffbase.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to ThriftPlus
    <!-- <div>Proceed by selecting appropriate menu items</div> -->
        <hr>  These Procedures might be of help as an admin  <hr>
   
   
    <div>1. Use the remittals menu to keep records of cash recieved from merchants</div>

    <hr>
    <div>2. The approval menu helps you credit the wallet of customers who made payments to merchants </div>
    	<hr>
    <div>3. PAY OUT REQUESTS submenu helps you keep records of all monies paid to customers through their merchants</div>
    <hr>
<!-- <div>4. Anytime a customer requests their money, use the cash out menu to commence </div>
    <hr>
     -->
</div>
{% endblock %}