

{% extends 'staff/staffbase.html' %}


{% block content %}





 <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
  
  <div id="psychomotor" title="Enter Psychomotor"></div>
    <thead>
<div style='text-align:center'> Staff List</div>


<form action="/thrift/thrift/approvalsmenu/approvefund/" method="POST">


{% if list %}    
   <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
    <thead>

        <tr style="text-align:center;font-weight:bold">
           <td >S/N</td>
           <td >Name </td>
           <td >E-Mail</td>
           <td >Status</td>
        </tr>
    </thead>
    {% for k in list %}                      
    <tr style="font-weight:bod;text-align:center">
          <td >{{ forloop.counter }}.</td>
          <td > {{ k.surname }},  {{ k.firstname }}    {{ k.othername }}({{  k.id}})</td>
          <td> {{ k.email }}</td>
          <td> {{ k.status }}</td>

    </tr>
    {% endfor %}
  </table>
</form>
    
    {% endif %}


</table>


<script type="text/javascript" >
    $(document).ready(function() {
        $("#psychomotor").hide();
    });
</script>



{% endblock %}

