<html>
<head>

</head>
<body>       
	




          {% for k in list %}


          <tr>
            <td style="color:blue">Name :</td>
            <td>{{k.name}}</td>
          </tr>          

        <form action="/staff/staff/updaterole/{{ID}}/" method="POST">

          <table style="margin-top:0%;margin-bottom:04%;font-size:0.5em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">
          
          <tr style="font-weight:bold">
            <td >Service</td>
            <td>Role 1</td>
            <td>Role 2</td>
          </tr>

        {% if k.app.thrift1a %}

         <tr>
            <td> Daily Contribution:</td>

                 <td>          
                        <input type="checkbox" id='to' name="mycashier" {{k.cash}} data-bootstrap-switch data-off-color="danger" data-on-color="success">
                        <label  for="to">Cashier</label>           
                  </td>
                  <td> 
                        <input type="checkbox" id='ta'name="myadmin" {{k.adm}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                        <label  for="ta"> Admin</label>
         
                  </td>
        </tr>
        {% endif %}

        {% if k.app.thrift1b %}
          <tr>
            <td> Investment Banking:</td>
        
               
               <td> 
                      <input type="checkbox" id='so'name="thr1bc" {{k.thr1bc}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                      <label  for="so"> Credit Officer</label>           
                </td>
                <td>
                      <input type="checkbox" id='sa'name="thr1bad" {{k.thr1bad}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                      <label  for="sa"> Admin</label>            
                </td>
        </tr>
        {% endif %}

        {% if k.app.loan1b %}
          <tr>
            <td> Loan IB:</td>

    
                 <td> 
                      
                        <input type="checkbox" id ='bo' name="loan1bcashier" {{k.loan1bo}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                        <label  for="bo"> Booking Officer</label>
                   
                  </td>

                  <td> 
                     
                        <input type="checkbox" id = 'ba'name="loan1badmin" {{k.loan1ba}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                        <label  for="ba"> Admin</label>                        

                  </td>
        </tr>
        {% endif %}

        {% if k.app.thrift3a %}
          <tr>
            <td> Thrift IIIA:</td>
           
              <td>           
                  <input type="checkbox" id="CO" name="thr3ac" {{k.thr3ao}} data-bootstrap-switch data-off-color="danger" data-on-color="success">
                  <label  for="CO"> Cashier</label>
                </td>
              <td>
                        <input type="checkbox" id="CA" name="thr3aad" {{k.thr3aad}} data-bootstrap-switch data-off-color="danger" data-on-color="success">
                        <label  for="CA"> Admin</label>
                  </td>
        </tr>
        {% endif %}

        {% if k.app.thrift3b %}

          <tr>
            <td> Thrift IIIB :</td>
     
              <td>           
                  <input type="checkbox" id="t4" name="thr3bc" {{k.thr3bo}} data-bootstrap-switch data-off-color="danger" data-on-color="success">
                  <label  for="t4"> Cashier</label>
                </td>
              <td>
                  <input type="checkbox" id="rr" name="thr3bad" {{k.thr3bad}} data-bootstrap-switch data-off-color="danger" data-on-color="success">
                        <label  for="rr">  Admin</label>
              </td>
        </tr>
        {% endif %}

        {% if k.app.loan3b %}
          <tr>
            <td> Loan:IIIB</td>


                 <td> 
                      
                        <input type="checkbox" id ='e3' name="loan3bo" {{k.loan3bo}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                        <label  for="e3"> Booking Officer</label>                  
                  </td>


                  <td>
                        <input type="checkbox" id = 'bg'name="loan3bad" {{k.loan3ba}} data-bootstrap-switch data-off-color="danger" data-on-color="success"> 
                        <label  for="bg"> Admin</label>
                  </td>
        </tr>
        {% endif %}

        <tr>
            <table style="margin-top:0%;margin-bottom:04%" width="100%" class="table  table-bordered" id="dataTables-example">
              <td ><input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Update Role"></td>
              
            </table>
        </tr>
           </table>
         </form>

        {% endfor %}

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  });

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false;

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector("#template");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/target-url", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  });

  myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
  });

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
  });

  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
    // And disable the start button
    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
  });

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0";
  });

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
  };
  document.querySelector("#actions .cancel").onclick = function() {
    myDropzone.removeAllFiles(true);
  };
  // DropzoneJS Demo Code End
</script>
</html>