



{% extends 'IIIb/settings_base.html' %}
{% block content %}


<div style="text-align:center">Standard Loans Set Up </div>
   <table style="margin-top:0%;margin-bottom:0.92%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td style="background:blue" ><a href="#" style="color:white">Set Up</a></td>
        <td ><a href="/IIIb/threeb/manage/settings/" style="color:red">Manage Set Up</a></td>
    </tr>
</table>

   <table style="margin-top:0%;margin-bottom:01%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
         <td style="background:blue"><a href="/IIIb/threeb/loans/settings/" style="color:white">Loans</a></td>
      <td  ><a href="#" style="color:red">Savings</a></td>
        <td><a href="#" style="color:red">Items</a></td>
        <td><a href="#" style="color:red">Log</a></td>
    </tr>
</table>

<div>Loan item save successfully</div>




<script type="text/javascript" language="javascript">
window.history.pushState(null, "", window.location.href);
window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
};

</script>



{% endblock %}



