


{% extends 'IIIb/adminbase.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to ThriftPlus
    <!-- <div>Proceed by selecting appropriate menu items</div> -->
        <hr>  These Procedures might be of help as an admin  <hr>
   
   
    <div>1. Use the <a href="/IIIb/threeb/registeration/">Membership link</a>  to register members of the cooperative</div>

    <hr>
    <div>2. The <a href="/thrift/thrift/approvalsmenu/">approval menu</a> helps you credit the wallet of customers who made payments to merchants </div>
    	<hr>
    <div>3. The <a href="/thrift/thrift/payouts/">Payments</a> link helps you keep records of all monies paid to customers through their merchants</div>
    <hr>
<!-- <div>4. Anytime a customer requests their money, use the cash out menu to commence </div>
    <hr>
     -->
</div>
{% endblock %}