

{% load humanize %}



   <table style="margin-top:0%;margin-bottom:0.1%;font-size:1em" width="100%" class="table  table-bordered" id="dataTables-example">

           <tr >
              <td for="amount">Amount</td>
                    <td>
                    <input type="number" name="amount" class="form-control"  placeholder="Amount" required>
                  </td>
             </tr>   
       </table>
     

   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">
          <tr>
           		<td >

                <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Preview Application">
           	  </td >
          </tr>
   </table>




