

{% load humanize %}

{% if msg %}






<div style="text-align:center;font-weight:bold;margin-top:0%;margin-bottom:0%;font-size:0.8em">List of Loan Requests {{status}}  for {{ month}}</div>
   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">   	
          
           <tr style='text-align:center;font-weight:bold'>
               <td >S/N</td>               
               <td >Cooperator</td>
               <td>Loan</td>
               <td>Tenure</td>
               <td>Moratorium</td>
               <td>Decline</td>
            </tr>
             {% for k in msg %}

          <tr style='text-align:center'>
            <td >{{forloop.counter}}</td>
            <td> {{k.staffrec.staff.surname}}   {{k.staffrec.staff.firstname}}   {{k.staffrec.staff.othername}}</td>
            
            <td >{{k.volume|intcomma}}</td>
            <td>{{k.package.tenure}} Months</td>
            <td>{{k.repay_month}} Days</td>
            <td >
              <a href="#" style="color:red" onClick= "decline({{ k.id  }})" title="Decline  N{{ k.amount|intcomma}} savings request">Decline</a>
            </td>
          </tr>

          {% endfor %}

         <tr style='text-align:center;font-weight:bold'>
            <td style="border:0px solid black"></td>
           <td>Total</td> 
           <td>{{total|intcomma}}</td> 
           <td></td>
           <td></td>
           <td></td>
         </tr>

</table>


 <table style="margin-top:0.5%;margin-bottom:0%;font-size:1em" width="100%" class="table  table-bordered"> 
      <tr>

        <td style="color:blue;text-align:center">
            <a href="#" style="color:blue;text-align:center" onClick= "approve()" title="EApprovve N {{ total|intcomma}} mandates">Approve All</a>
        </td>
</tr>

       </table>
     

{% else %}

<div style="color:blue;text-align:center">no records found </div>





{% endif %}