


{% extends 'IIIb/settings_base.html' %}
{% block content %}


<div style="text-align:center">Standard Loans Set Up </div>
   <table style="margin-top:0%;margin-bottom:0.92%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
        <td style="background:blue" ><a href="#" style="color:white">Set Up</a></td>
        <td ><a href="/IIIb/threeb/manage/settings/" style="color:red">Manage Set Up</a></td>
    </tr>
</table>

   <table style="margin-top:0%;margin-bottom:01%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
         <td style="background:blue"><a href="/IIIb/threeb/loans/settings/" style="color:white">Loans</a></td>
      <td  ><a href="/IIIb/threeb/savings/settings/" style="color:red">Savings</a></td>
        <td><a href="#" style="color:red">Items</a></td>
        <td><a href="#" style="color:red">Log</a></td>
    </tr>
</table>


<div> Set loan limits</div>
<form action="" method="POST"  enctype="multipart/form-data" >
    
    <section class="content">
      <div class="container-fluid">
            
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-body">
                  <div class="form-group">
                    <label for="rate">Rate</label>
                    <input type="number" name="rate" class="form-control" id="rate" placeholder="%" required> 
                  </div>
<div> It is required you enter figures</div>
                </div>
             </div>
        </div>
                <!-- /.card-body -->
           <div class="card-footer">
            <td >
              <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Save">
            </td>
          </div>
      </section>


      </form>

{% endblock %}



