
{% extends 'IIIb/howitworks_c.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to the coorperative app<hr>
     This is a scanty run through of the major features and functions of the App. Carefully study each item to enable you make the most use of the App, as the manager of the Cooperative of <span style= 'color:red'>{{company.company.name}}</span>
     <hr>

    <div>1. The menus under <a href="/IIIb/threeb/staff/repay_loan/">VAS<a> link helps you manage your vital information </a></div>
    <hr>
<div>2. All other functions are handled inside the <a href="/IIIb/threeb/admin/home/">Corporate C </a> link.</div>
    <hr>



{% endblock %}