
{% extends 'IIIb/howitworks.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to the coorperative app<hr>
     This is a scanty run through of the major features and functions of the App. Carefully study each item to enable you make the most use of the App, as the manager of the Cooperative of <span style= 'color:red'>{{company.company.name}}</span>
     <hr>

    <div>1. To begin with, use the <a href="/staff/staff/home/">Membership</a>  link, to create user accounts for each cooperators.</div>

    <hr>
    <div>2. Since this is a subscription based service, the <a href="#">subscription </a> link helps you see the validity of your access</div>
    	<hr>
    <div>3. The menus under <a href="/IIIb/threeb/staff/repay_loan/">VAS<a> link helps you manage cooperators' vital information </a></div>
    <hr>
<div>4. All other functions are handled inside the <a href="/IIIb/threeb/admin/home/">Corporate C </a> link.</div>
    <hr>
<!-- <div>5. It is mandatory to set up the types of loan packages for your firm. Do ths with the  <a href="/IIIb/threeb/loans/settings/">Loan Settings </a> link before you commence </div>
    <hr> -->


{% endblock %}