<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>






{% load humanize %}

<body>
<table width="100%" class="table  table-bordered " id="dataTables-example">

    <tr >
        <td  style="background-color:#d3d3d3;font-size:0.9em;color:blue;font-weight:bold;text-align:center" >Loan Repayment</td>
    </tr>

</table>

<div> Do you really want to repay <br>  <span style='color:red'>{{hhh.transaction_source.staffrec.surname}},  {{hhh.transaction_source.staffrec.firstname}} {{hhh.transaction_source.staffrec.othername}}'s </span>  <br >loan for {{date}} ?</div>


<form 
action="/IIIb/threeb/staff/repay_loan/repay/"
method="POST">

       <input type="hidden" name="email" readonly="readonly" value="{{ email }}">



         
     <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

      <tr>
          <td >
          <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit"value="yes">
        </td>
        
        <td>
          <a href="/IIIb/threeb/loans/approve/" class="btn btn-lg btn-success btn-block">No
          </a>
        </td>
      </tr>

    </table>

    <input type='hidden', name='myid' readonly="readonly" value="{{ code }}">

    
</form>



</body>

</html>