


{% extends 'IIIb/adminsavingsbase_c.html' %}

{% block content %}




<div style="text-align:center">Cash Deposit Form</div>
   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">


    <tr style="text-align:center;">
      <td  >
          <a href="/IIIb/threeb/savings/deposit/" style="color:red">Deposit</a>
      </td>
      <td>
          <a href="/IIIb/threeb/savings/save_packages/" style="color:red">Savings Scheme</a>
      </td>
      <td style="background:blue"><a href="/IIIb/threeb/savings/deposit/view_transactions/" style="color:white">Log</a></td>
    </tr>
</table>


   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">
    <tr> 
      <td style="font-weight:bold">My E-mail</td>
      <td>{{msg.staff.email}}</td>
    </tr>
    <tr> 
      <td style="font-weight:bold">My Name</td>
    <td>{{msg.staff.surname}}, {{msg.staff.firstname}}   {{msg.staff.othername}} </td>
  </tr>

   </table>



   <table style="margin-top:0.2%;margin-bottom:0.3%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">


 <tr>
    <td style='font-weight:bold'> Transaction Type</td>
   <td>
   <select name="account_type" id="id_account_type">
   <option value="-----">-----</option>
   <option value="dep">Deposit Requests</option>
   <option value="appt">Applications</option>
   </select>
   </td>
 </tr>
 
       </table>



 <table width="100%" class="table  table-bordered" id="dataTables-example">

           <tr>
                <div class="savebox"></div>
           </tr>
</table>
       


   <script type="text/javascript" >
        $(document).ready(function() {            
            $("#id_account_type").change(function () {
                autopostloan();
            });
            $("#id_account_type").focus();

            autopostloan();
        });
    </script>



  <script type="text/javascript" language="javascript">
        function autopostloan(){
            var state = "{{user}}"+ ':'+$("#id_account_type").val();
            // alert(state)
            var url = "/IIIb/threeb/staff/deposit/log/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".savebox").show();
                    $(".savebox").html(html);

                }
            });
            return false;
        }
    </script>


   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_amount").focus();
  
        });
    </script>


   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_month").focus();
  
        });
    </script>

{% endblock %}



