


{% extends 'IIIb/adminsavingsbase_c.html' %}

{% block content %}

{% load humanize %}

<div class="card card-primary card-outline">
  <div class="card-header">
    <h5 class="m-0" style = 'text-align:center'>OPERATION SUCCESSFUL!!!</h5>
    </div>
      <div class="card-body">
      <h6 class="card-title" > N{{amount|intcomma}} deposit request made on your account for {{month}}, {{year}}</h6>
      <p class="card-text"></p>
  </div>
</div>




<script type="text/javascript" language="javascript">
window.history.pushState(null, "", window.location.href);
window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
};

</script>

{% endblock %}