




  <form action="/IIIb/threeb/loans/lr/" method="POST">

<table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table table-bordered" id="dataTables-example">


        <tr >
            <td >{{ form.email.label_tag}}:</td><td> {{ form.email }}</td>
        </tr> 

 </table>

<table style="margin-top:0.2%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">
  <tr>
  <td >
  	<input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Process">
    </td >
  </tr>
</table>

</form>