


   <table style="margin-top:0.2%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">

           <tr >
              
                    <td for="surname">Amount</td>
                    <td>
                    <input type="number" name="amount" class="form-control" id="amount" placeholder="Amount" required>
                  </td>
             </tr>   
       </table>

         <table style="margin-top:0.2%;margin-bottom:0.9%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">
          <tr>
       <td ><input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Process Mandate"></td>
     </tr>
   </table>