
{% extends 'IIIb/coop_officer_base.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to the coorperative app<hr>
     These are a few of the major steps you should follow, if you want to use this app effectively as a member of staff of  {{company.company.name}}<hr>

    <div>1. You can make a loan request, using the <a href="/IIIb/threeb/staff/request_loan/">Request loan</a>  link, and completing the loan application form</div>

     <hr>
   <div>2. To see how your loan is performing, the<a href="/IIIb/threeb/staff/request_loan/performance/"> Loan Performance  </a> link will provide you the tool<d/iv> 
    	
    <hr>

    <div>3. Furthermore use the history link to check the <a href="/IIIb/threeb/staff/request_loan/history/">status </a> of your loan application</div>

    <hr>

<div>4. The links under VAS helps you activate <a href="#">E-mail</a> , <a href="#">SMS</a> , <a href="#">Notification</a> and <a href="#">UI/UX</a> for customes who need them </div>
    <hr>
</div>
{% endblock %}