
{% load humanize %}

  

      <div style="text-align:center;margin-top:02%">   Summary of <span style='color:blue'>{{status}}</span> Transactions for   {{date}},  {{date2}}</div>




          {% for pincode in thriftrec %}
          {% if pincode.trans %}

   <table style="margin-top:0%;margin-bottom:0%;font-size:0.9em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

         <tr>
            <td style = "background-color:#ccccc0">{{ pincode.merchant.staff.surname }}, {{ pincode.merchant.staff.firstname }}  {{ pincode.merchant.staff.otherrname }}</td>
        </tr>
</table>

   <table style="margin-top:0%;margin-bottom:02%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">

        <tr style="text-align:center;font-weight:bold">
            <td > S/N </td>
            <td > Customer  </td>
            <td > Amount (N)</td>

        </tr>
      
        {% for j in pincode.trans %}
              <tr style="text-align:center;">

                  <td > {{ forloop.counter}}</td>
                  <td >{{ j.customer.customer.surname}},   {{ j.customer.customer.firstname}}   {{ j.customer.customer.othername}}</td>
                  <td >{{ j.amount|intcomma}}</td>                  
              </tr>
           {% endfor %}


    <tr style="text-align:center;font-weight:bold">
      <td></td>
      <td>Total</td>
      <td>N{{pincode.total|intcomma}}</td>
    </tr>           
 


            {% endif %}
         {% endfor %}



</table>

