


{% extends 'Ia/guidebase.html' %}

{% block content %}


    <div style = "font-size:0.9em">Please read Carefully<hr>
     These are the major steps you should follow, if you want to use this app effectively as an Admin<hr>

    <div>1. Use the contributions link to perform <a href="/fts/thrift/payrequest/">deposit </a> and <a href="/fts/thrift/cashout/">withdrawal </a> transactons</div>
    <hr>
    <div>2. Furthermore use the <a href="/fts/thrift/approvals/">Approvals</a> link when you interface with a credit officers</div>
    <hr>
    <!-- 
<div>3. The <a href="/fts/thrift/history/">Reports </a> menu helps you generate all the reports from this service</div>
    <hr> 
<div>4. The links under VAS helps you activate <a href="#">E-mail</a> , <a href="#">SMS</a> , <a href="#">Notification</a> and <a href="#">UI/UX</a> for customes who need them </div>
    <hr>
</div>
-->


</div>
{% endblock %}
