
{% load humanize %}

     
<form action="/fts/thrift/approvals/approvebulk/" method="POST">

<table style="margin-top:0%;margin-bottom:0%;font-size:0.5em"  width="100%" class="table  table-bordered table-hover" id="dataTables-example">

    <tr>
    <td> Merchant ID</td>
    <td>{{merchant.id}}</td>
  </tr>
    <tr>
    <td> Name</td>
    <td>{{merchant.staff.surname}},  {{merchant.staff.firstname}}  {{merchant.staff.othername}}</td>
  </tr>
    <tr>
      <td>Transaction Date</td>
     <td>{{date}}   </td>
  </tr>

    <tr>
        <td tyle='font-weight:bold;font-size:0.9em'>Total</td>
         <td >  {{ tot|intcomma}} </td>
    </tr>

  </table>











<table style="margin-top:01%;margin-bottom:0%;font-size:0.6em"  width="100%" class="table  table-bordered" id="dataTables-example">                     
                            

        <tr style="font-weight:bod;text-align:center">

          
          <td> 

                     <input style="font-size:0.8em" type="text" autofocus required name="cash" class="form-control" id="cash" placeholder="Enter amount here">
              
          </td>
        </tr>
       
         <input type="hidden" name="amount"  readonly="readonly" value="{{ tot }}" >

           <input type="hidden" name="dates" id="dates"  readonly="readonly" value="{{ dates }}" class ="loginTxtbox">
           <input type="hidden" name="merchant" id="merchant"  readonly="readonly" value="{{ merchant.id }}" class ="loginTxtbox">
           <input type="hidden" name="date" id="date" readonly="readonly" value="{{ date}}" class ="loginTxtbox">



    </table>

 <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
  <td >
    <input style="font-size:0.7em" class="btn btn-lg btn-success btn-block" name="submit" type= "submit"value="Approve">

  </td>    
</table>
 </form>

   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_amount").focus();
        });
    </script>
