


{% extends 'Ia/guidebase_cash.html' %}

{% block content %}


    <div style = "font-size:0.9em">welcome to Merchant's FieldApp<hr>
     These are the major steps you should follow, if you want to use this app effectively as a Merchant<hr>

    <div>1. Also, use the contributions link to <a href="/fts/thrift/payrequest/">contribution requests</a> and <a href="/fts/thrift/cashout/">withdrawal requests</a></div>
    <hr>
    <div>2. Furthermore use the 
    	<a href="#">Remittals</a>
    	<!-- <a href="/fts/thrift/payrequest/">Remittals</a>  -->
    	 link when you interface a merchant</div>

    <hr>
<div>4. The links under VAS helps you activate <a href="#">E-mail</a> , <a href="#">SMS</a> , <a href="#">Notification</a> and <a href="#">UI/UX</a> for customes who need them </div>
    <hr>
</div>


</div>
{% endblock %}
