<script type="text/javascript" src='/static/mato/JS/jquery-1.5.js'></script>



{% extends 'Ia/contributionIabase.html' %}
{% block content %}

{% load humanize %}


<div style="text-align:center">Accounts Balances Menu</div>


   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">
<div>{{msg}}</div>
    <tr style="text-align:center;">
      <td  >
          <a href="/fts/thrift/history/"  style="color:red">Wallet Balance</a>
      </td>

      <td style="background:blue">
          <a href="/fts/thrift/mystatement/"  style="color:white">E-card</a>
      </td>      
    </tr>
</table>



<form action="/fts/thrift/addthrift/putthrift/" method="POST">

<table style="margin-top:01%;margin-bottom:0.2%" width="100%" class="table  table-bordered" id="dataTables-example">
            <tr >
              <td >{{ form.wallet.label_tag}}:</td>
                <td> {{ customer.customer.wallet }}</td>

            </tr>
            <tr >
              <td style='font-weight:bold'>Name: </td>
                <td> {{ customer.customer.surname }} {{ customer.customer.firstname }} {{ customer.customer.othername }}</td>

            </tr>

       <tr >
        <td >{{ form.month.label_tag}}:</td><td> {{ form.month }}</td>
       </tr> 



            <tr>
            <td style='font-weight:bold'>Account Type</td>
            <td>
                <select name="account_type" id="id_account_type">
                 <option value="-----">-----</option>
                 <option value="Main account">Main account</option>
                 <option value="Sub account">Sub account</option>
                 </select>
             </td>
</tr>
</table>

<table  width="100%" class="table  table-bordered" id="dataTables-example">

           <tr >
                <div class="boxaccount_type"></div>
           </tr>
</table>
 
<input type="hidden" name="wallet" readonly="readonly" value="{{ wallet }}">

</form>


  <script type="text/javascript" >
        $(document).ready(function() {            
            $("#id_account_type").change(function () {
                autopostacc();
            });

            $("#id_month").change(function () {
                autopostacc();
            });                         
            autopostacc();
        });
    </script>


    <script type="text/javascript" language="javascript">
        function autopostacc(){
            var state = $("#id_account_type").val() + ":" + "{{wallet}}" + ":" + $("#id_month").val()+ ":" + "{{user}}";
            // alert(state)
            var url = "/fts/thrift/addthrift/account_statement_history/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".boxaccount_type").show();
                    $(".boxaccount_type").html(html);

                }
            });
            return false;
        }
    </script>




<script type="text/javascript" language="javascript">
window.history.pushState(null, "", window.location.href);
window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
};

</script>
{% endblock %}



