


{% extends 'Ia/guidebase_to.html' %}

{% block content %}


    <div style = "font-size:0.9em">welcome to Merchant's FieldApp<hr>
     These are the major steps you should follow, if you want to use this app effectively as a Merchant<hr>


    <div>1. Use the contributions link to <a href="/fts/thrift/payrequest/">Contribution requests</a> and <a href="/fts/thrift/cashout/">withdrawal requests</a></div>
    <hr>
<!-- <div>2. The <a href="/fts/thrift/history/">Reports </a> menu helps you generate all the reports from this service</div> -->
    <hr>
<div>2. The links under VAS helps you activate <a href="#">E-mail</a> , <a href="#">SMS</a> , <a href="#">Notification</a> and <a href="#">UI/UX</a> for customes who need them </div>
    <hr>
</div>


</div>
{% endblock %}
